body {
	background-color: black;
	color: white;
	font-size: 25px;
	margin: 0;
	padding: 0;
}
input#query {
	width: 90%;
	margin-left: 5%;
	margin-top: 2%;
	height: 8%;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 30px #383FFF;	
	font-size: 40px;
}

div#verseWrap {
	height: 80%;
	overflow: hidden;
}

div#verseHolder {
	padding: 2% 10% 0px 10%;
	text-align: justify;
}

span.verseNum {
	font-size: 25px;
	color: #383FFF;
}

span.verseText {
	font-size: 35px;
}
